################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HgSccPackage
/HgSccHelper/bin
/HgSccHelper/obj
/HgSccPackage/bin
/HgSccPackage/obj
/packages
